@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Neutral Colors */
  --color-accent: #f7f8f8;
  --color-secondary: #030712;
  --color-secondary-60: rgba(3, 7, 18, 0.6);
  --color-secondary-80: rgba(3, 7, 18, 0.8);
  --color-secondary-10: rgba(3, 7, 18, 0.1);
  --color-secondary-30: rgba(3, 7, 18, 0.3);
  --black: #000000;
  --white: #ffffff;
  --white50: rgb(255, 255, 255, 0.5);

  /* Primary Colors */
  --color-primary: #1dd100;
  --color-primary-opacity-10: rgba(29, 209, 0, 0.1);
  --color-primary-opacity-40: rgba(29, 209, 0, 0.4);

  /* Gradients */
  --gradient-light: linear-gradient(180deg, #030712 50%, #000000 0%);
  --gradient-accent: linear-gradient(
    180deg,
    #1dd100 40%,
    #1dd100 15%,
    #1dd100 10%
  );
  /* font section */
  --railway: "Raleway", sans-serif;
  --inter: "Inter", sans-serif;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-md: 1.125rem;
  --font-lg: 1.25rem;
  --heading: 1.5rem;
  --heading-2xl: 2rem;
  --heading-3xl: 2.25rem;
  --heading-4xl: 2.5rem;
  --heading-5xl: 4rem;
}
@layer base {
  @import url("https://fonts.gooSgleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
}
